@media (min-width: 240px){

}

@media (min-width: 320px){
    .stroke-text{
        font-size: 60px;
    }

    .counter-wrap{
        padding: 25px 15px;
    }

    .counter-stat h1{
        font-size: 17px;
    }

    .counter-stat h1 span{
        font-size: 30px;
    }

    .clock span, .units span{
        font-size: 17px;
        font-weight: 400;
    }

    .about-banner{
        padding: 0 20px;
    }

    .about-content{
        padding: 5rem 0;
    }

    .about-text{
        margin-left: 0;
    }

    .img-block{
        left: 10%;
        top: 100px
    }
}

@media (min-width: 576px){    
    .banner .btn{
        font-size: 16px;
    }

    .ban-title h1{
        font-size: 60px;
    }
    
    .ban-title span{
        font-size: 20px;
    }

    .counter-wrap{
        padding: 3rem 2rem;
    }

    .img-block{
        left: 10%;
        top: 80px;
    }

}

@media (min-width: 768px){
    .banner .btn{
        font-size: 16px;
    }

    .ban-title h1{
        font-size: 90px;
    }
    
    .ban-title span{
        font-size: 26px;
    }

    .btn{
       margin: auto;
    }

    .counter-stat h1{
        font-size: 18px;
    }

    .counter-stat h1 span{
        font-size: 40px;
    }

    .clock span, .units span{
        font-size: 20px;
        font-weight: 600;
    }

    .about-banner {
        padding: 90px 0px;
    }

    .about-content{
        padding: 0;
    }

    .about-text{
        margin-left: 0;
    }

    .stroke-text{
        font-size: 80px;
    }

    .img-block{
        left: 10%;
        top: 100px
    }
}

@media (min-width: 992px){
    .nav-toggler{
        display: none;
    }

    .nav-item{
        clear: both;
        display: block;
        width: auto;
        height: auto;
        padding: 8px;
        background-color: #fff;
    }

    .nav-list{
        display: flex;
    }

    .nav-link{
        margin: 0 10px 0 0;
    }

    .counter-stat h1 span{
        font-size: 40px;
    }

    .img-block{
        width: 80%;
        top: 150px;
        left: 40%;
        border: 5px solid #fff;
    }

    .about-text{
        margin-left: 90px;
    }
}

@media (min-width: 1200px) {
    .counter-stat h1 span{
        font-size: 50px;
    }
}

@media (max-width: 768px){
    .nav-toggler{
        display: block;
        transition: 250ms ease;
    }

    .nav-item{
        display: none;
        top: 93px;
        right: -200px;
        z-index: 1000;
        padding: 20px;
        width: 200px;
        background-color: rgb(247, 240, 225);
    }

    .nav-list{
        display: block;
        text-align: center;
    }

    .nav-link{
        margin-bottom: 10px;
        margin-right: 0;
    }

    .nav-item.active{
        display: block;
        position: absolute;
        right: 0px;
    }

    .banner{
        min-height: 500px;
    }

    .banner .btn{
        font-size: 16px;
    }

    .ban-title h1{
        font-size: 60px;
    }
    
    .ban-title span{
        font-size: 20px;
    }

    .counter-wrap{
        padding: 3rem 2rem;
    }

    .img-block{
        left: 10%;
        top: 80px;
    }

}


@media (max-width: 480px){
    .banner{
        min-height: 400px;
    }

    .ban-title h1{
        font-size: 50px;
    }

    .ban-title span{
        font-size: 20px;
    }

    .banner .btn{
        font-size: 14px;
        padding: 15px 15px;
    }

    .stroke-text{
        font-size: 60px;
    }

    .counter-wrap{
        padding: 25px 15px;
    }

    .counter-stat h1{
        font-size: 16px;
    }

    .counter-stat h1 span{
        font-size: 26px;
    }

    .clock span, .units span{
        font-size: 16px;
        font-weight: 400;
    }

    .about-content{
        padding: 5rem 0;
    }

    .img-block{
        left: 10%;
        top: 100px
    }

}

@media (max-width: 320px){
    .ban-title h1{
        font-size: 32px;
    }

    .banner .btn{
        font-size: 12px;
        padding: 15px 15px;
    }

    .about-banner{
        padding-top: 0;
    }
}