*, *::before , *::after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    overflow-x: hidden;
    box-sizing: border-box;
    color: rgb(35, 37, 37);
    font-family: 'Ubuntu', sans-serif;
}

a, h1, h2, h3, h4, h5, h6, span{
    color: rgb(35, 37, 37);
} 

ul, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

/* container */

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container{
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container{
        max-width: 1140px;
    }
}

/* row */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

/* col */
.col, .col-sm, .col-lg, .col-md{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

/* margin */

.mr-auto{
    margin-right: auto !important;
}

.ml-auto{
    margin-left: auto !important;
}

.mt-auto{
    margin-top: auto !important;
}

.mb-auto{
    margin-bottom: auto !important;
}

/* position */

.pos-rel{
    position: relative !important;
}

.pos-asol{
    position: absolute !important;
}

/* header */

.header-bar{
    width: 100%;
    background-color: rgb(255, 254, 254);
}

.header-bar .nav-bar{
    width: 100%;
    padding: 20px 10px 20px 10px;
}

.header-bar .container{
    display: flex;
    justify-content: space-between;
}

/* logo */

.logo{
    font-size: 30px;
    padding: 10px 0px;
    text-decoration: none;
}


/* navigation */

.nav-toggler{
    border: 0;
    padding: 10px 0px;
    outline: none;
    display: none;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.25s ease-in-out;
}

.nav-toggler .fas{
    font-size: 20px;
}

.nav-item{
    padding: 10px 0px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    transition: all 0.25s ease-in-out;
}

.nav-list > .nav-link{
    list-style: none;
    padding: 10px 10px;
    position: relative;
}

.nav-list > .nav-link > a{
    text-decoration: none;
    padding: 10px 0px;
    position: relative;
}

.nav-list > .nav-link.active > a{
    color: rgb(15, 15, 15) !important;
}

.nav-list > .nav-link:hover > a{
    color: rgb(2, 127, 136);
}

.nav-list > .nav-link > a::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    bottom: 0;
    background-color: rgb(15, 15, 15);
    transition: all 250ms ease-in-out;
}

.nav-list > .nav-link.active > a::before{
    width: 100%;
}

/* button */

.btn{
    color: #fff;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(11, 166, 187);
    transition: all 0.25s ease-in;
}

.btn:hover{
    color: #fff;
    background-color: #000;
}

/* align */

.align-item-center{
    align-items: center !important;
}

/* section */

section{
    display: block;
}

/* banner */

.banner{
    background-image: url(../Images/head-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    min-height: 700px;
}

.banner .col{
    flex: 0 0 50%;
}

.ban-title{
    height: 100%;
}

.ban-title h1{
    font-size: 90px;
    color: rgb(247, 250, 252);
    margin: 0px 0px 30px 0px;
}

.ban-title span{
    font-size: 26px;
    color: rgb(31, 29, 29);
}

.banner .btn{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.09em;
    padding: 15px 40px;
    border-radius: 30px;
}

/* counter section */

.count-down{
    min-height: 300px;
    padding: 2rem 0rem;
}

.counter-wrap{
    width: 100%;
    padding: 3rem 2rem;
    position: relative;
}

.counter-wrap:before{
    position: absolute;
    top: 0;
    left: -5%;
    content: "";
    z-index: -1;
    width: 200%;
    height: 100%;
    background: #ffffff;
    border-radius: 100px 0px 0px 100px;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.3);
}

.counter-stat h1{
    font-weight: normal;
    color: #000;
}

.counter-stat h1 span{
    font-size: 50px;
    font-weight: 600;
}

.clock{
    padding: 10px 20px;
}

.clock span{
    font-weight: 600;
    font-size: 24px;
    padding-right: 15px;
}

span.turn{
    animation: turn 0.7s ease forwards;
}

@keyframes turn{
    0%{transform: rotateX(0deg)}
    100%{transform: rotateX(360deg)}
}

/* images */

img{
    outline: none;
    vertical-align: middle;
}

/* about banner */

.about-banner {
    padding: 90px 0px;
}

.img-box{
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.3);
}

.img-block{
    width: 80%;
    top: 150px;
    left: 40%;
    border: 5px solid #fff;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.about-text h1{
    font-size: 50px;
    margin: 20px 0px;
}

.about-text p{
    color: rgb(100, 100, 100);
    margin-bottom: 30px;
}

.about-text .btn{
    padding: 15px 40px;
    border-radius: 30px;
}

/* strole-text */

.stroke-text{
    font-size: 80px;
    font-weight: 800;
    color: transparent;
    font-family: sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ddd;
}

/* disappear */

.disappear{
    display: none;
}

