@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700");
*, ::before, ::after {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(29, 38, 54);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #03bef7, #04d9ff);
    border-radius: 4px;
}

sup, sub {
    color: rgb(5, 252, 231);
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: black;
}

hr{
    width: 60%;
    margin: auto;
    border: 1px solid rgb(210, 226, 225);
}

/* Header & navigation */

.header {
    padding: 1rem 2rem;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.nav-bar {
    height: 100%;
    width: 100%;
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
}

.logo a span {
    position: relative;
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    transition: 250ms ease-in-out;
    color: #fff;
}

.logo a:hover span {
    font-weight: 500;
    color: rgb(116, 188, 252);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-items {
    padding: 0px 15px;
    margin: 10px 10px;
    position: relative;
}

.nav-items a {
    padding: 5px 0px;
    position: relative;
    color: #fff;
    font-weight: 500;
    transition: all 250ms ease-in-out;
}

.hero {
    border: 2px solid rgb(158, 203, 248);
    padding: 8px 18px;
    border-radius: 10px;
}

.nav-items a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0%;
    height: 2.5px;
    width: 0%;
    background-color: rgb(1, 163, 168);
    transition: 250ms ease-in-out;
}

.hero a::after {
    clear: both;
    height: 0px;
    background-color: transparent;
    width: 0% !important;
}

.nav-items:hover a::after, .nav-items.active a::after {
    width: 100%;
}

.nav-items:hover a, .nav-items.active a {
    color: rgb(2, 224, 253);
}

.hero:hover a {
    color: rgb(2, 224, 253);
}

/* Container */

.container {
    width: 85%;
    max-width: 85%;
    margin: auto;
    position: relative;
}

/* Basic section style */

section:not(.important-info) {
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

/* Home-banner */

.home-banner {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url(../images/IoT.jpg) no-repeat scroll center center;
    background-size: cover;
    background-attachment: fixed;
}

.head_title {
    text-align: center;
    color: #fff;
}

.head_title p {
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0px;
    text-transform: uppercase;
}

.head_title span {
    font-size: 22px;
}

.head_title h2 {
    margin: 10px auto;
    width: 90%;
    font-size: 46px;
    font-weight: 900 !important;
    text-transform: uppercase;
}

.time_line {
    text-align: center;
    color: #fff;
}

/* Info area */

.important-info {
    display: flex;
    align-items: center;
    min-height: 400px;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg-img.jpg) no-repeat scroll center center;
    background-size: cover;
    background-attachment: fixed;
}

.info-title h2{
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}

.info-title h2 span{
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
}

.list{
    padding: 0px;
    margin: 40px 10px 20px 10px;
    font-size: 20px;
}

.list li{
    margin: 8px;
}

/* Overlay btn */

.overlay_btn, .btn {
    margin: 5px;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.171);
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    transition: 250ms ease-in-out;
}

.overlay_btn:hover {
    background-color: #4e4e5263;
}

.btn {
    background-color: #00a2ff;
    border: 1px solid #00a2ff;
    border-radius: 30px;
    padding: 10px 35px;
}

.btn:hover {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
}

/* img */

img {
    vertical-align: middle;
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* text-center */

.t-center {
    text-align: center;
}

.t-justify {
    text-align: justify !important;
}

/* margin auto */

.m-auto {
    margin: auto;
}

/* row & col */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.col {
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg {
    flex: 0 0 64%;
    max-width: 64%;
}

.col-md {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-sm {
    flex: 0 0 36%;
    max-width: 36%;
}

.col-sm-3 {
    flex: 0 0 23.3333%;
    max-width: 23.3333%;
}

.col-sm-2 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.col-sm-1 {
    flex: 0 0 43.3333%;
    max-width: 0 0 43.3333%;
}

.col, .col-md, .col-sm, .col-sm-3, .col-sm-2, .col-sm-1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 25px;
    padding-left: 25px;
    flex-wrap: wrap;
}

/* welcome banner */

.welcome_banner {
    padding: 2rem 2rem;
}

.img_box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img_box img{
    transition: 250ms ease;
}

.img_box img:hover{
    transform: scale(1.05);
}

.text_box {
    text-align: justify;
    line-height: 24px;
}

.text_box h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 38px;
}

.text_box p {
    font-size: 17px;
}

/* additional_info */

.additional_info {
    padding: 4rem 2rem;
    margin-bottom: 30px;
}

.f-align-center {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.key_list {
    list-style: url(../images/tick.png);
    font-size: 16px;
}

.key_list h4{
    font-size: 22px;
    position: relative;
    left: -22px;
    margin: 20px 0px;
}

.ob_list {
    list-style: decimal;
}

.items {
    font-size: 16px;
}

/* details-banner */

.detail_banner {
    min-height: 400px;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url(../images/IoT.jpg) no-repeat scroll center center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50px;
}

.indicator {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.indicator h3, .indicator h1 {
    width: 100%;
}

.indicator h1 {
    font-size: 46px;
    margin: 25px;
}

.indicator i {
    font-size: 16px;
}

.indicator h3 {
    margin: 8px;
    font-size: 20px;
}

/* Event info */

.event_info {
    padding: 2.5rem 2rem;
}

.border {
    border: 1px solid #53545538;
}

/* Registration */

.reg_title {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.reg_title h2 {
    font-weight: 700;
    font-size: 36px;
}

.reg_title h3{
    font-size: 30px;
}

/* fee-card */

.fee-wrapper{
    padding: 20px 0px;
    border-radius: 10px;
    margin-bottom: 60px;
    box-shadow: 0px 10px 30px 0px rgba(98, 71, 234, 0.2);
}

.fee-card{
    position: relative;
    border-top: 3px solid #fff;
    transition: 300ms ease;
}

.fee-card h2{
    font-weight: 500;
    font-size: 20px;
    color: #222222;
    text-transform: uppercase;
    transition: 300ms ease;
}

.fee-card p{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px;
    color: white;
    transition: 300ms ease;
    border-radius: 5px;
    background: linear-gradient(to right, #1750ca 0%, #1a9cf3 25%);
}

.fee-card p span{
    font-size: 20px;
}

.fee-card ul li{
    font-size: 14px;
    padding: 10px 0px;
}

.fee-card:hover{
    border-color: #1a9cf3;
}

.fee-card:hover p{
    background: linear-gradient(to right, #245fdf 20%, #34a8f5 65%);
}

/* contact */

.contact_info {
    position: relative;
    padding: 2rem 2rem;
}

.contact_info .text_box h3 {
    font-size: 36px;
    font-weight: 800;
}

.contact_info .text_box h4 {
    font-size: 30px;
    color: #1e2235;
}

/* committee */

.team_banner {
    padding: 2rem 2rem;
    position: relative;
}

.team {
    font-size: 40px;
    font-weight: 900;
    position: relative;
}

.team_title h3:after {
    content: '';
    position: absolute;
    width: 7%;
    height: 3px;
    background-color: #00a2ff;
    left: 0px;
    bottom: -5px;
}

.team_title {
    font-size: 26px;
    margin: 15px 0px;
    width: 100%;
    position: relative;
}

.member_info {
    padding: 15px 0px;
    position: relative;
    text-align: center;
}

.member_info p {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    position: relative;
}

.member_info h3 {
    margin: 10px 0px;
    transition: 300ms ease-in-out;
}

.member_info:hover h3 {
    background: -webkit-gradient(linear, left top, right top, from(#2c28b1), color-stop(70%, #9b5cf6));
    background: -webkit-linear-gradient(left, #2c28b1 0%, #9b5cf6 70%);
    background: -o-linear-gradient(left, #2c28b1 0%, #9b5cf6 70%);
    background: linear-gradient(to right, #2c28b1 0%, #9b5cf6 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer */

.footer {
    padding: 2rem 2rem;
    background-color: #04091e;
}

.footer .container{
    width: 90%;
    margin: auto;
}

.footer .text_box, .footer .text_box .nolist li a {
    color: rgba(240, 255, 252);
}

.footer .text_box p, .footer .text_box .nolist li, .footer .text_box .nolist li a {
    color: rgba(255, 255, 255, 0.637);
}

.footer .text_box h4 {
    font-size: 22px;
}

.nolist {
    padding: 0px;
    list-style: none;
}

.nolist li {
    margin: 5px 0px;
    font-size: 16px;
}

.nolist li a {
    padding: 5px 10px;
    font-size: 16px;
}

.copy, .copy a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.637);
}

.copy a {
    color: rgb(71, 164, 250);
}

.copyrights {
    padding: 40px 25px;
}

.footer .icon_holder {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    margin: 0px 10px;
    background: #1e2235;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    transition: 250ms ease-in-out;
}

.icon_holder .fa {
    transition: 250ms ease-in-out;
    color: rgba(255, 255, 255, 0.548);
}

.icon_holder:hover .fa {
    color: #fff;
}

.f-center {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap;
}

/* countdown */

.countdown-wrapper{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 2rem 5rem;
    min-height: 300px !important;
}

.count-container{
    width: 100%;
    margin: 2rem 2rem;
    padding: 2.5rem 2rem;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    box-shadow: 0px 8px 30px 0px rgba(82, 81, 81, 0.5);
}

.count-text h3{
    font-size: 24px;
    margin: 10px 0px;
    font-family: sans-serif;
}

.count-text span{
    font-size: 17px;
    font-style: italic;
}

.timer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
}

.timer_holder{
    display: block;
    padding: 0px 10px;
}

.timer_day, .timer_minute, .timer_hour, .timer_second{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.timer .timer_holder .timer_lable{
    text-transform: capitalize;
    font-size: 17px;
}


