@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.img-box{
    width: 100%;
    height: auto;

    .img-fluid{
        max-width: 100%;
    }
}

header{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.site-body{
    width: 100%;
    height: auto;
}