@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
html, body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #04273b;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* header, nav & drop-down */

header {
    display: flex;
    padding: 10px 15px;
    position: relative;
    align-items: center;
    box-shadow: 1px 1px 3.5px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', sans-serif;
}

.wrapper {
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.close-btn, .menu-btn {
    cursor: pointer;
    display: none;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
}

.nav-bar {
    display: flex;
    position: relative;
    align-items: center;
}

.nav-list {
    display: inline-flex;
    align-items: center;
}

.nav-list, .nav-list-item {
    position: relative;
}

.nav-list-item {
    margin: 0px 15px;
    position: relative;
}

.nav-item {
    margin: 5px 10px;
    padding: 8px 0px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    letter-spacing: 0.5px;
    display: inline-block;
    text-transform: uppercase;
}

.nav-item::after {
    content: '';
    position: absolute;
    top: 1.5px;
    left: 0px;
    width: 0px;
    height: 2px;
    transition: all 250ms ease-in-out;
    background-color: #0477b9;
}

.nav-list-item:hover .nav-item::after, .nav-list-item.active .nav-item::after {
    width: 100%;
}

#show-drop {
    display: none;
}

.mobile-item {
    display: none;
    margin: 5px 10px;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
}

.mobile-item:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

.drop-down {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 10px 10px;
    position: absolute;
    top: 85px;
    z-index: 999;
    background-color: #ffffff;
    border-top: 2.3px solid #02a0fc;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dadbdb;
    border-bottom: 1px solid #d8d9da;
    box-shadow: 0 2px 10px -2px rgb(0 0 0 / 30%);
}

.drop-list {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}

.nav-list-item:hover .drop-down {
    transition: all 0.3s ease;
    top: 40px;
    opacity: 1;
    visibility: visible;
}

.drop-items {
    width: 100%;
    display: block;
    margin: 10px 0px;
    padding: 10px 10px;
}

.drop-list:hover {
    background-color: rgb(219, 218, 218);
}

/* ================================================= */

input[type="radio"] {
    display: none;
}

section {
    display: flex;
    min-height: 300px;
    align-items: center;
    position: relative;
    padding: 3rem 0rem;
}

.imgbox {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 10px -2px rgb(0 0 0 / 50%);
}

.img-fluid:hover {
    transform: scale(1.02);
}

.contact-profile{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.textbox {
    width: 100%;
    padding: 0px 15px;
}

.textbox h2 {
    font-size: 32px;
    font-family: 'Roboto Slab', sans-serif;
}

.textbox p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    text-align: justify;
}

hr {
    width: 80%;
    border-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    padding: 0px;
}

.heading {
    font-size: 30px;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0, 0.75);
}

/* table */

table{
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.table-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
}

.table-wrapper table{
    box-shadow: 0px 8px 30px 0px rgb(82 81 81 / 50%);
    border-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

table, table * {
    position: relative;
    margin: auto;
    border-collapse: collapse;
}

.table-head table{
    border-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: none;
}

.table-heading {
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    width: 100%;
    background-color: #10384e;
}

.table-heading tr th {
    position: relative;
    padding: 15px 15px;
    padding-left: 30px;
}

.t-column-1{
    width: 15%;
}

.t-column-2{
    width: 45%;
}

.t-column-3{
    width: 20%;
}

.t-column-4{
    width: 20%;
}

td, th {
    position: relative;
    padding: 15px 25px;
    outline: none;
    line-height: 20px;
}

td{
    padding-left: 30px;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.75);
}

.table-content{
    max-height: 70vh;
    overflow-y: scroll;
    border-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table-content td{
    padding-left: 35px;
}

tbody tr:nth-child(even){
    background-color: rgb(0, 0, 0, 0.05);
}

tbody tr:hover{
    background-color: rgb(0, 0, 0, 0.08);
}

@media (max-width: 768px){
    .table-head{
        display: none;
    }

    .table-content{
        max-height: 81vh;
        border-radius: 6px !important;
        box-shadow: 0px 5px 20px 0px rgb(82 81 81 / 50%);
    
    }

    td, tr, th{
        width: 100% !important;
        display: block;
    }

    .t-column-1, .t-column-2, .t-column-3, .t-column-4{
        padding-left: 40% !important;
    }

    .table-content .t-column-1::before{
        content: "Date :";
        font-weight: 600;
        position: absolute;
        left: 20px;
    }

    .table-content .t-column-2::before{
        content: "Title :";
        font-weight: 600;
        position: absolute;
        left: 20px;
    }

    .table-content .t-column-3::before{
        content: "Teacher / Student :";
        font-weight: 600;
        position: absolute;
        left: 20px;
    }

    .table-content .t-column-4::before{
        content: "Participant count :";
        font-weight: 600;
        position: absolute;
        left: 20px;
    }
}

/* footer */

footer {
    color: #ffffff;
    min-height: 300px;
    padding: 2rem 1rem;
    background-color: #04273b;
}

footer h3 {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer p {
    color: rgb(255, 255, 255, 0.75);
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 10px 0px;
}

footer .foot-link {
    margin-bottom: 20px;
}

footer .quick-list {
    padding-left: 10px;
}

footer .quick-list li {
    margin: 8px 0px;
}

footer .quick-list li a {
    padding: 5px 0px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.75);
    transition: all 250ms ease-in-out;
}

footer .quick-list li a:hover {
    color: #fff;
}

footer .contact li h4 {
    font-size: 15px;
    color: #fff;
}

footer .contact li {
    font-size: 14px;
    line-height: 18px;
    margin: 8px 0px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255, 0.75);
}

footer .foot-info {
    padding: 0px 15px;
    margin: auto;
    margin-top: 40px;
}

footer .foot-info span {
    display: inline-block;
    padding: 20px 0px;
}

footer .foot-info span, footer .foot-info span a {
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255, 0.75);
    transition: 200ms ease-in-out;
}

footer .foot-info span a:hover {
    color: #ffffff;
}

footer .foot-info ul li {
    margin: 0px 5px;
}

footer .foot-info ul li .foot-icon {
    padding: 5px 10px;
    display: inline-block;
}

footer .foot-info .foot-icon .fa {
    transition: 200ms ease-in-out;
    color: rgba(255, 255, 255, 0.7);
}

footer .foot-info .foot-icon:hover .fa {
    color: #fff;
}

/* ============================================ */

/* media query */

@media (max-width: 768px) {
    .nav-bar .wrapper {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 280px;
        top: 0;
        left: -100%;
        z-index: 999;
        background-color: rgb(246, 254, 255);
        display: block;
        padding: 50px 10px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 250ms ease-in-out;
    }
    .nav-list {
        display: block;
        margin-top: 20px;
    }
    .nav-item {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        border-radius: 5px;
    }
    .nav-list-item:hover .nav-item::after, .nav-list-item.active .nav-item::after {
        display: none;
    }
    .nav-item:hover {
        background-color: rgba(0, 0, 0, 0.11);
    }
    .mobile {
        display: block;
    }
    #menu-btn:checked~.mobile.menu-btn {
        display: none;
    }
    #menu-btn:checked~.wrapper {
        left: 0px;
    }
    #close-btn:checked~.mobile.close-btn {
        display: none;
    }
    #close-btn:checked~.wrapper {
        left: -100%;
    }
    .drop-down {
        clear: both;
        position: static;
        opacity: 1;
        visibility: visible;
        width: 90%;
        max-height: 0px;
        top: 65px;
        margin: auto;
        padding: 0px;
        border: none;
        overflow: hidden;
        transition: all 150ms ease-in-out;
    }
    #show-drop:checked~.drop-down {
        max-height: 100%;
    }
    .drop-items {
        text-align: left;
    }
    .desktop-item {
        display: none;
    }
    .mobile-item {
        cursor: pointer;
        display: block;
    }
    footer .foot-info {
        display: block;
        width: 100%;
        padding: 0px;
    }
    footer .copy-right {
        width: 100%;
        text-align: center;
    }
    footer .foot-info .foot-info-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

/* ================================================== */