.title {
    color: rgb(6, 70, 0);
}

/* site-wrapper */

.site-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

/* header */

.site-header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 100000;
    position: fixed;
    margin: 0px auto;
    max-height: 150px;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
    transition: all 200ms ease-in-out;
}

.site-header .container {
    padding: 20px 30px;
}

.site-header .container.fixed .nav-bar {
    display: none;
}

/* logo */

.site-logo {
    flex: 1;
    font-size: 32px;
    margin-right: 10px;
}

/* site-serach */

.site-search {
    flex: 2;
    position: relative;
    min-width: 260px;
    max-width: 450px;
    margin-right: 10px;
}

.search-bar {
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 13px;
    left: 1.5rem;
    z-index: 2;
    color: rgba(0, 0, 0, 0.6);
}

.search-input {
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 12px 0px;
    padding-left: 3rem;
    padding-right: 6rem;
    border-radius: 25px;
    letter-spacing: 0.6px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px rgb(244, 244, 244);
    background: rgb(244, 244, 244);
    transition: 200ms ease-in-out;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.search-btn {
    position: absolute;
    top: 0px;
    right: 1rem;
    z-index: 2;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 15px;
    background-color: transparent;
}

/* header-icon-group */

.header-icon-group {
    flex: 1;
    margin-right: 10px;
}

.header-icon-group-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-icon-item {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 15px;
    transition: 200ms ease-in-out;
}

.header-icon-item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon-item a i {
    font-size: 14px;
}

.account {
    background-color: rgb(230, 255, 253);
}

.wishlist {
    background-color: rgb(244, 230, 255);
}

.cart {
    background-color: rgb(255, 230, 230);
}

.account:hover,
.wishlist:hover,
.cart:hover {
    background-color: rgb(220, 253, 200);
}

.wish-count,
.cart-count {
    position: absolute;
    top: -3px;
    right: -3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: rgb(255, 174, 174);
}

.header-icon-item:hover .account-drop {
    visibility: visible;
    pointer-events: initial;
}

/* account-drop */

.account-drop {
    position: absolute;
    margin-top: 20px;
    top: 44px;
    right: 0px;
    z-index: 1000;
    visibility: hidden;
    pointer-events: none;
    background-color: #fff;
    transition: opacity 250ms ease-in-out;
}

.account-drop::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0px;
    height: 20px;
    width: 80px;
    background-color: transparent;
}

.account-inner {
    position: relative;
    min-width: 220px;
    width: 320px;
    padding: 20px;
    overflow: auto;
    max-height: 500px;
    border: 2px solid #f3f3f3;
    border-top: 2.5px solid #a8b324;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
}

.account-drop-title {
    margin-bottom: 15px;
}

.account-drop-title span a,
.account-helper span a {
    width: auto;
    font-size: 14px;
    display: inline-block;
    color: rgb(37, 170, 81);
    text-decoration: underline;
}

.account-drop span:first-child {
    font-size: 18px;
}

/* sign-in-form */

.sign-in-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sign-in-form input,
.sign-in-form button {
    font-size: 16px;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: 1.5px solid rgba(0, 0, 0, 0.1);
}

.sign-in-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.sign-in-form button {
    color: #fff;
    background-color: rgb(96, 202, 69);
}

/* menu button */

.site-header .menu {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 15px 15px;
    cursor: pointer;
    display: none;
}

.site-header button .icon {
    font-size: 18px;
}

/* nav-bar */

.nav-bar,
.nav-bar-inner,
.nav-list,
.shopper-box {
    display: flex;
    align-items: center;
}

.nav-bar {
    width: 100%;
    position: relative;
    background-color: rgb(18, 95, 63);
}

.nav-bar .container {
    padding: 0px 30px;
}

/* shopper-box */

.shopper-box {
    width: auto;
    max-width: 220px;
    height: 100%;
    display: flex;
    padding: 10px 25px;
    position: relative;
    align-items: center;
}

.shopper {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 25px;
    border-radius: 5px;
    letter-spacing: 0.6px;
    display: inline-block;
    background-color: rgb(62, 124, 26);
    transition: all 250ms ease-in-out;
}

.shopper i {
    margin-right: 10px;
}

.shopper-box:hover > .shopper-drop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.shopper-drop::before {
    position: absolute;
    content: "";
    display: block;
    top: -6px;
    left: 45%;
    width: 0;
    height: 0;
    border-bottom: 6px solid;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 0;
    border-bottom-color: #fff;
}

.shopper-drop {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    opacity: 0;
    z-index: 999;
    border-radius: 5px;
    visibility: hidden;
    pointer-events: none;
    background-color: #fff;
    border: 2px solid #f3f3f3;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
    transition: all 200ms ease-in;
}

.drop-list {
    margin: 0;
    padding: 15px 0px;
    position: relative;
}

.drop-item {
    list-style: none;
    position: relative;
}

.drop-link {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    align-items: center;
}

.drop-link * {
    transition: all 250ms ease-in-out;
}

.drop-link:hover {
    color: rgb(86, 161, 0);
}

.drop-link span {
    margin-left: 15px;
}

.drop-link::before {
    position: absolute;
    content: "";
    width: calc(100% - 60px);
    height: 0;
    border-bottom: 1px solid;
    border-color: #ebebeb;
    left: 30px;
    bottom: 0;
}

.drop-item:last-child > .drop-link::before {
    border-bottom: none;
}

/* nav-list */

.nav-list {
    flex: 1;
    height: 100%;
    position: relative;
    padding: 0px 30px;
}

.nav-items {
    height: 100%;
    position: relative;
    list-style: none;
}

.nav-items.active .nav-link,
.nav-items:hover .nav-link {
    color: rgb(22, 207, 62);
}

.nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding: 1.5rem 0.7rem;
    margin: 0rem 0.6rem;
    transition: all 300ms ease-in-out;
}

.nav-link i {
    transition: all 50ms ease-in-out;
}

.nav-items:hover .nav-drop-list {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

/* nav-drop-list */

.nav-drop-list {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 200px;
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    padding: 10px 20px;
    border-radius: 5px;
    pointer-events: none;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 15%);
}

.nav-drop-item {
    list-style: none;
}

.nav-drop-link {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding: 10px 10px;
    display: inline-block;
    transition: all 250ms ease-in-out;
}

.nav-drop-link:hover {
    color: rgb(86, 161, 0);
}

.nav-drop-link::before {
    position: absolute;
    content: "";
    width: calc(100% - 20px);
    height: 0;
    border-bottom: 1px solid;
    border-color: #ebebeb;
    left: 10px;
    bottom: 0;
}

.nav-drop-item:last-child > .nav-drop-link::before {
    border-bottom: none;
}

/* site-body */

.site-body {
    width: 100%;
    display: flex;
    margin-top: 100px;
    padding-top: 50px;
    min-height: 300px;
    position: relative;
    align-items: center;
    flex-direction: column;
    transition: 250ms ease-in-out;
}

/* page-info-banner */

.page-info-banner {
    width: 100%;
    display: flex;
    min-height: 300px;
    position: relative;
    align-items: center;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

/* info-banner-content */

.info-banner-content {
    max-width: 1350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.info-banner-content h3 {
    width: 100%;
    font-size: 50px;
    margin: 10px 0px;
    color: rgb(21, 49, 5);
}

.info-nav span * {
    font-size: 14px;
}

.info-nav span:first-child {
    color: rgba(0, 0, 0, 0.6);
}

.info-nav span:nth-child(2) i {
    cursor: unset;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

/* site-body-inner */

.site-body .container {
    padding: 50px 20px;
}

/* site-body image */

.img-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box img {
    max-width: 100%;
    border-radius: 5px;
    vertical-align: middle;
}

/* contact-area */

.contact-text * {
    margin-bottom: 20px;
}

.contact-text p {
    font-size: 14px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
}

/* contact-form */

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.text-area-tag {
    width: 100%;
    display: flex;
}

.contact-form textarea {
    width: 100%;
    resize: none;
    padding: 10px 20px;
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    border-radius: 5px;
    outline: none;
    transition: all 250ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.contact-form input:hover,
.contact-form input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
    border-color: rgba(0, 0, 0, 0.8);
}

.contact-form button {
    display: inline-block;
    width: 200px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 15px 25px;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(96, 202, 69);
    border: 1px solid rgb(96, 202, 69);
    transition: all 250ms ease-in-out;
}

.contact-form button:hover {
    border-radius: 5px;
}

/* footer */

.site-footer {
    width: 100%;
    height: auto;
    margin: 0px auto;
    position: relative;
    padding: 25px 30px;
    background-color: rgb(18, 95, 63);
}

.site-footer * {
    color: #fff;
}

.site-footer .row:not(:last-child) {
    padding: 40px 0px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.1);
}

/* call-us */

.call-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.call-us i {
    font-size: 30px;
    margin-right: 15px;
}

.call-num span {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.call-num h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
}

/* follow-us */

.follow-us {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.follow-us span {
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.icon-group {
    width: 100%;
    display: flex;
    align-items: center;
}

.icon-group li {
    list-style: none;
    margin-right: 15px;
}

.icon-group li a i {
    font-size: 18px;
    transition: all 200ms ease-in-out;
}

.icon-group li a:hover i {
    color: #a8b324;
}

/* copy-rights */

.copy-rights {
    width: 100%;
    padding: 30px 0px 0px 0px;
}

.copy-rights * {
    color: rgb(255, 255, 255, 0.6);
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}

.copy-rights p a {
    color: rgb(129, 179, 36);
}

.footer-menu-title {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/* footer-nav-item */

.footer-nav-item {
    font-size: 14px;
    list-style: none;
    margin: 4px 0px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-nav-item a {
    font-size: 12px;
    font-weight: 600;
    padding: 4px 0px;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: all 150ms ease-in-out;
}

.footer-nav-item span {
    font-size: 12px;
    font-weight: 600;
    padding: 4px 0px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: all 150ms ease-in-out;
}

.footer-nav-item:hover a,
.footer-nav-item:hover a * {
    color: rgba(255, 255, 255, 1);
}

/*email */

.email a {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    position: relative;
}

.email a::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1.5px;
    width: 100%;
    background-color: rgb(51, 167, 67);
}

@media (max-width: 992px) {
    .site-logo,
    .header-icon-group {
        flex: 0.5;
        margin-right: 0px;
    }

    .site-header .row {
        flex-wrap: nowrap;
    }

    .site-body{
        padding-top: 0px;
        margin-top: 90px;
    }

    .account,
    .wishlist,
    .site-search
    /*, .nav-bar*/ {
        display: none;
    }

    .site-header .menu {
        display: block;
    }

    .nav-bar {
        position: fixed;
        width: 100%;
        height: calc(100vh - 90px);
        top: 88px;
        left: 0px;
        z-index: 999;
        width: 280px;
        max-width: 280px;
        display: block;
        padding: 50px 10px;
        overflow-y: auto;
        transform: translateX(-100%);
        background-color: rgb(246, 254, 255);
        box-shadow: 0px 15px 15px rgb(0 0 0 / 18%);
        transition: all 250ms ease-in-out;
    }

    .nav-bar.active {
        transform: translateX(0px);
    }

    .nav-bar .container {
        padding: 0px 15px;
    }

    .nav-bar .row {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .shopper-box {
        display: block;
        max-width: 240px;
    }

    .shopper-drop {
        position: static;
        width: 100%;
        margin: auto;
        display: none;
        border-radius: 0px;
        box-shadow: 0 0 50px 0 rgb(0 0 0 / 5%);
        transition: all 250ms ease-in-out;
    }

    .shopper-drop.active {
        opacity: 1;
        display: block;
        visibility: visible;
    }

    .nav-list {
        padding: 0px 10px;
        display: block;
    }

    .nav-link {
        display: block;
        margin: 10px 0px;
        padding: 15px 20px;
        color: rgb(27, 27, 27);
    }

    .nav-link .icon {
        position: absolute;
        right: 20px;
    }

    .nav-link .icon.active {
        transform: rotate(180deg);
    }

    .nav-drop-list {
        position: static;
        width: calc(100% - 20px);
        margin: auto;
        display: none;
        border-radius: 0px;
        box-shadow: 0 0 50px 0 rgb(0 0 0 / 5%);
        transition: all 250ms ease-in-out;
    }

    .nav-drop-list.active {
        opacity: 1;
        display: block;
        visibility: visible;
    }

    .contact-form-img {
        display: none;
    }
}

@media (max-width: 576px) {
    .site-logo {
        display: flex;
        font-size: 28px;
        align-items: center;
    }

    .info-banner-content h3 {
        font-size: 30px;
    }

    .site-body .container {
        padding: 40px 15px;
    }

    .container.msg-form {
        padding: 30px 0px;
    }

    .site-footer {
        padding: 20px 10px;
    }
}

@media (max-width: 360px) {
}
