img {
  border: none;
  outline: none;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.img-fluid {
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.shop-discover {
  width: 100%;
  padding-bottom: 40px;
  display: inline-block;
}

.card-wrapper {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-wrapper .discover-card {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 0px 0px 20px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.card-wrapper .discover-card .img-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.card-wrapper .discover-card .img-background .img-fluid {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.card-wrapper .discover-card .content {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 40px;
}

.card-wrapper .discover-card .content .title-head {
  width: 100%;
  padding-right: 20px;
}

.card-wrapper .discover-card .content .title-head h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}

.card-wrapper .discover-card .content .ref-link {
  width: 100%;
  padding-right: 20px;
}

.card-wrapper .discover-card .content .ref-link a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
}

.card-wrapper .discover-card .content .ref-link a::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: white;
}

.card-wrapper .discover-card:hover .img-background img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media (max-width: 576px) {
  .card-wrapper .discover-card .content .title-head h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .card-wrapper .discover-card {
    width: 100%;
  }
  .card-wrapper .discover-card .content {
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  .card-wrapper .discover-card {
    width: 24%;
  }
  .card-wrapper .discover-card .content {
    padding-left: 40px;
  }
}

.shopping-card {
  padding: 20px 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
}

.shopping-card .shop-title {
  font-size: 22px;
  margin-bottom: 25px;
  position: relative;
}

.product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-slider .shop-banner {
  width: 100%;
  min-width: 220px;
  max-width: 320px;
  min-height: 320px;
  max-height: 100%;
  position: relative;
  padding: 15px 20px;
}

.product-slider .shop-banner .img-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.product-slider .shop-banner .img-background .img-fluid {
  height: 100%;
  border-radius: 4px;
}

.product-slider .shop-banner .content {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 3;
  padding: 35px 0px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product-slider .shop-banner .content h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.product-slider .shop-banner .content h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.product-slider .shop-banner .content p {
  font-size: 16px;
  margin-bottom: 50px;
}

.product-slider .shop-banner .content a {
  color: #000;
  font-weight: 600;
  position: relative;
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 30px;
  display: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product-slider .shop-banner .content a::after {
  position: absolute;
  top: -15px;
  left: 0px;
  content: "";
  width: 100%;
  height: 2px;
  z-index: 888;
  background-color: #fff;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product-slider .shop-banner .content a:hover::after {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.product-slider .shop-banner .content:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.product-slider .shop-banner .content:hover a {
  display: inline-block;
}

.product-slider .shop-slider {
  padding: 0px 15px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.product-slider .shop-slider ul {
  position: relative;
  left: 0px;
  width: 1440px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.product-slider .shop-slider ul .product {
  min-width: 200px;
  max-width: 320px;
  width: 200px;
  margin: 0pc 10px;
  list-style: none;
}

.product-slider .shop-slider ul .product .product-card {
  max-width: 100%;
  min-width: 200px;
  width: 100%;
  height: 100%;
}

.product-slider .shop-slider ul .product .product-card .product-image {
  height: 50%;
  overflow: hidden;
}

.product-slider .shop-slider ul .product .product-card .product-image .img-fluid {
  width: 100%;
  height: 100%;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.product-slider .shop-slider ul .product .product-card .product-details {
  height: 50%;
  width: 100%;
  padding: 20px 15px;
}

.product-slider .shop-slider ul .product .product-card .product-details * {
  display: block;
  text-align: center;
}

.product-slider .shop-slider ul .product .product-card .product-details .product-name {
  font-size: 16px;
  margin-bottom: 15px;
}

.product-slider .shop-slider ul .product .product-card .product-details .product-price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #62aa0f;
}

.product-slider .shop-slider ul .product .product-card .product-details .cart-btn a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 10px 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product-slider .shop-slider ul .product .product-card .product-details .cart-btn a i {
  margin-left: 5px;
  font-size: 12px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product-slider .shop-slider ul .product .product-card .product-details .cart-btn a::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product-slider .shop-slider ul .product .product-card .product-details .cart-btn a:hover i {
  margin-left: 10px;
}

.product-slider .shop-slider ul .product .product-card .product-details .cart-btn a:hover::after {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.product-slider .shop-slider ul .product .product-card:hover .product-image .img-fluid {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product-slider .shop-slider .arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  line-height: 40%;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.product-slider .shop-slider .arrow.left {
  left: 5px;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.product-slider .shop-slider .arrow.right {
  right: 5px;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

@media (min-width: 992px) {
  .shop-slider:hover .arrow.left, .shop-slider:hover .arrow.right {
    color: #ffffff;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background-color: #208825;
  }
}

@media (max-width: 992px) {
  .shopping-card {
    padding: 20px 10px;
  }
  .shopping-card .shop-title {
    text-align: center;
  }
  .product-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-slider .shop-banner {
    display: none;
  }
  .product-slider .shop-slider {
    padding: 0px 10px;
  }
  .product-slider .shop-slider .arrow.left {
    color: #ffffff;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background-color: #208825;
  }
  .product-slider .shop-slider .arrow.right {
    color: #ffffff;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background-color: #208825;
  }
}

.subscribe-banner {
  padding: 20px 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  min-height: 300px;
  -webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.15);
}

.subscribe-banner .row {
  min-height: 300px;
}

.subscribe-banner .row .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.subscribe-banner .row .column:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
}

.subscribe-banner .row .column:last-child {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.subscribe-banner .row .column {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.subscribe-banner .row .column .img-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.subscribe-banner .row .column .img-background .img-fluid {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.subscribe-banner .row .column .content {
  position: relative;
  min-height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #ffffff;
  z-index: 3;
  padding: 20px 15px;
}

.subscribe-banner .row .column .content h3 {
  font-size: 26px;
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 500;
  margin-bottom: 30px;
}

.subscribe-banner .row .column .content p {
  margin-bottom: 20px;
}

.subscribe-banner .row .column .content .subscribe-btn {
  color: #000;
  font-weight: 600;
  position: relative;
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.subscribe-banner .row .column .content .subscribe-btn i {
  margin-left: 10px;
}

.subscribe-banner .row .column .content .subscribe-form {
  position: relative;
  z-index: 3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-banner .row .column .content .subscribe-form .email-subscribe {
  position: relative;
  width: 230px;
}

.subscribe-banner .row .column .content .subscribe-form .email-subscribe input {
  width: 230px;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.subscribe-banner .row .column .content .subscribe-form .email-subscribe i {
  position: absolute;
  top: 12px;
  right: 15px;
  color: #000000;
}

@media (max-width: 992px) {
  .subscribe-banner .row {
    display: block;
  }
  .subscribe-banner .row .column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .subscribe-banner .row .column:first-child {
    padding: 0px 0px 20px 0px;
  }
}

@media (max-width: 576px) {
  .subscribe-banner {
    padding: 20px 5px;
  }
}

.about-banner {
  min-height: 400px;
  display: inline-block;
  padding: 30px 0px;
}

.about-banner .content .head-title {
  font-size: 26px;
}

.about-banner .content p {
  margin-bottom: 35px;
}
/*# sourceMappingURL=pages.css.map */